.button {
  background-color: var(--color-bg-btn);
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: 1.3rem;
  transition: 300ms ease;
}

.button:hover {
  opacity: 0.8;
  background-color: var(--color-accent-primary);
  color: black;
}

.button--action {
  color: var(--color-text-actions);
}

.button--operational {
  color: var(--color-text-operational);
}
