:root {
  --color-bg-body: #090909;
  --theme-switcher-bg: #181818;
  --color-accent-primary: #fe5707;
  --color-text-primary: #fcfdff;
  --color-bg-pad: #0e0e0e;
  --color-text-actions: #38f4e0;
  --color-text-operational: #d66964;
  --color-bg-btn: #0C0C0D;
}