.calc {
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 5px;
  height: 100vh;
  min-width: 350px;
  padding-top: 20px;
  width: min(500px, 100vw);
}

.calc__header {
  display: grid;
  grid-template-rows: 1fr 100%;
}

.calc__last-result {
  color: var(--color-text-primary);
  display: block;
  font-size: 1.1rem;
  text-align: right;
}

.calc__display {
  color: var(--color-text-primary);
  font-size: 3.2rem;
  font-weight: 500;
  text-align: right;
  padding-right: 5px;
  width: 100%;
}

.calc__display,
.calc__last-result {
  padding-right: 5px;
}

.calc__pad {
  background-color: var(--color-bg-pad);
  border-radius: 23px 23px 0px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 1.6rem;
}
