.theme-switcher {
  background-color: var(--color-bg-theme-switcher);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 45px;
  margin: auto;
  overflow: hidden;
  width: fit-content;
}

.theme-switcher__span {
  display: block;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.theme-switcher__span:hover {
  background-color: rgb(41, 39, 39);
}

.theme-switcher__icon {
  color: grey;
  cursor: pointer;
  height: 100%;
  font-size: 1.4rem;
  margin-inline: 1rem;
}

.theme-switcher__icon--active {
  color: var(--color-text-primary);
}
